@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap') ;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Single Day', cursive;
}



/* section {
  z-index: ;
} */